@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply bg-gradient-to-b from-bgLighterBlue to-bgLightBlue min-h-screen p-6 flex items-center justify-center;
  }

  section div h1 {
    @apply text-grayishcolor font-black text-xl;
  }

  main {
    @apply flex flex-col w-full gap-3 max-w-4xl;
  }

  header {
    @apply flex justify-between items-center text-bgDarkBlue;
  }

  hgroup div {
    @apply flex items-center gap-2 md:gap-10;
  }

  header h1 {
    @apply text-3xl;
  }

  span {
    @apply text-shadedBlue font-bold;
  }

  hgroup {
    @apply flex flex-col gap-5;
  }

  hgroup p {
    @apply text-ashColor text-lg;
  }

  header h1 {
    @apply text-2xl font-bold tracking-wide;
  }

  input {
    @apply w-full rounded-full px-12 py-2 focus:outline-none focus:border-bgLightBlue focus:border;
  }

  section {
    @apply px-10 pt-5 pb-14 rounded-2xl flex flex-col gap-8;
  }
}

.glass-section {
  background: rgba(242, 252, 254, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(242, 252, 254, 0.3);
}
